version: "3.10"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.backend
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - redis

  worker:
    build:
      context: .
      dockerfile: Dockerfile.backend
    command: celery -A backend.celery_app.celery_app worker -l INFO
    env_file:
      - .env
    depends_on:
      - redis

  beat:
    build:
      context: .
      dockerfile: Dockerfile.backend
    command: celery -A backend.celery_app.celery_app beat -l INFO
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  frontend:
    build:
      context: frontend
    command: npm run dev
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - api
